<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Admin Bereich</h3>
      </div>
      <div class="col-sm-8">
        <a href="/" class="pull-right">Zur Homepage</a>
      </div>
    </div>
  </div>
</div>
<div class="admin">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Neuigkeiten</h2>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" name="form" ng-submit="newPost(form)">
          <div class="form-group">
            <label for="textArea" class="control-label">Neuer News-Eintrag:</label>
            <input id="title" type="text" ng-model="post.title" class="form-control" placeholder="Überschrift" required>
            <!--<textarea id="textArea" ng-model="post.body" class="form-control" rows="10"></textarea>-->
            <div text-angular id="textArea" ng-model="post.body" ta-toolbar-button-class="btn btn-default" ta-toolbar="tatoolbar"></div>
          </div>
          <button class="btn btn-default pull-right" type="submit">Speichern</button>
          <!--<button class="btn btn-danger pull-right" ng-click="clearForm()">Abbrechen</button>-->
        </form>
      </div>
    </div>
    <div ng-include="'components/news/news.html'"></div>
  </div>
</div>
