//New version of style file - Refactoring

@import "functions";
@import "mixins";
@import "vars";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
//@import "font-awesome/scss/font-awesome";
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,800,800italic');


/* Body */

body {
  padding-top: 0;
  font-family: _font(family);
  font-size: 12pt;
  font-weight: _font(weight);
  letter-spacing: _size(letter-spacing);
  line-height: 1.25em;
  color: _palette(fg-medium);

  background: _palette(bg);

  &.is-loading {
    *, *:before, *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
  }

}

/* APP-WIDE */

h1 {
  color: _palette(fg-medium);
  margin: 0 auto;
  padding-top: 100px;
  text-transform: uppercase;
  text-shadow: 0 0 3px _palette(shadow);
  font-size: 54px;
  line-height: 32px;
  position: relative;
}

.row {
  padding-top: 142px;
  padding-bottom: 150px;
}


/* NAVIGATION */
.navbar {
  background-color: _palette(shadow);
  border: none;
  a {
    color: #FFF;
  }
}


/* INTRO */
.intro {
  color: _palette(fg);
  background-image: url('../assets/images/bg-intro.png');
  background-repeat: no-repeat;
  background-position: center;
  @include vendor('background-size', 'cover');


  .layer {
    background-color: _palette(primary-layer);
    /* IE 8 OPACITY */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  .index-icon {
    width: 300px;
    height: 300px;
    position: relative;
    padding: 100px;
    background-image: url("../assets/images/ele-neu.jpg");
    background-repeat: no-repeat;
    @include vendor('border-radius', '150px');
    @include vendor('box-shadow', '0 0 8px ' + _palette(shadow));
  }

  h1 {
    color: _palette(fg);
    @include vendor('animation-duration', '0.8s');
    @include vendor('animation-fill-mode', 'both');
    @include vendor('animation-name', 'bounceInUp');
    @include vendor('animation-delay', '0.5s');
  }

  .hline {
    width: 300px;
    height: 1px;
    margin-bottom: 10px;
    background-color: _palette(fg);
    position: relative;
  }

}

@media (max-width:767px) {

  .intro h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .intro .row {
    padding-top: 105px;
    padding-bottom: 65px;
  }

  .concept-two:before {
      visibility: hidden;
  }

}


/* PORTFOLIO */
.portfolio {
  border-top: solid 1px _palette(fg-medium);
  text-align: center;

  h3 {
    text-align: center;
  }

  .row {
    margin: 0;
    padding: 40px;

    &:last-child {
      padding-bottom: 120px;
    }
  }

  .hline {
    width: 100px;
    height: 1px;
    margin-bottom: 10px;
    background-color: _palette(fg-medium);
    position: relative;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  .thumbnail {
    border: 0;
    border-radius: $border-radius;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 100%;
  }


}

/* NEWS AND DIRECTIONS BLOCK */

.news-and-dir {
  .row {
    padding: 0;
    margin: 0;
  }


  /* NEWS */

  .news {
    height: 50vh;
    overflow-y: scroll;
    overflow-x:hidden;
    background-color: _palette(primary-l);
    @include vendor('background-size', 'cover');

    h2 {
      position: relative;
      text-align: center;

    }



    .post {
      border-top: solid 5px _palette('primary-s');
      margin-bottom: 2.25em;
      padding-top: 2.25em;


      &:first-child {
        border-top: 0;
        padding-top: 0;
      }

      .post-header {
        padding: 10px 15px;
        top: 20%;
        background-color: _palette(shadow);
        border-bottom: 1px solid;
        border-color: #000000;
        //@include vendor('border-radius-top-left', '10px');
        //@include vendor('border-radius-top-right', '10px');

        .panel-title > a {
          color: inherit;
        }
      }

      .post-body {
        //display: inline-block;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 80%;

        > :last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  /* DIRECTIONS */

  .directions {

    height: 50vh;
    background-color: _palette('secondary-l');
    padding: 0;
    margin: 0;

  }


}



/* CONCEPT */

.concept {

  background-color: _palette(tertiary);
  vertical-align: baseline;
  margin: 0;
  position: relative;
  z-index: 1;
  border-top: solid 1px _palette(fg-medium);
  border-bottom: solid 1px _palette(fg-medium);

  &:before {
    background: _palette(fg-medium);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 2;
  }

  .container {
    height: 100%;
    &:before {
      background: blue;
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .row {
    padding: 0;
    margin: 0;
    height: 20em;

    &:first-child {
      margin-top: 50px;
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 3.5em;

    h3 {
      margin-bottom: 0.5em;
    }

    p {
      &:first-letter {
        font-size: 24pt;
      }
    }

    :last-child {
      margin: 0;
    }
  }

  .img-responsive {
    padding: 0;
    margin: 0;
    border-radius: 0;//$border-radius;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
  }

  .right {
    text-align: right;
    float: right;
    height: 100%;
    width: 100%;

    .img-responsive {
      left: 0;
    }
  }

  .left {
    text-align: left;
    float: left;
    height: 100%;
    width: 100%;

    .img-responsive {
      right: 0;
    }
  }

  .no-padding {
    padding: 0;
    height: 100%;
  }
}

/* EXPERIMENTS AREA */

/* FOOTER */

.footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #E5E5E5;
}

/* ANIMATION */


@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    top:1000px;
  }

  60% {
    opacity: 1;
    top:-30px;
  }

  80% {
    top:10px;
  }

  100% {
    top:0;
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    top:1000px;
  }

  60% {
    opacity: 1;
    top:-30px;
  }

  80% {
    top:10px;
  }

  100% {
    top:0;
  }
}
