
.index-icon {
  width: 300px;
  height: 300px;
  position:relative;
  padding: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../assets/images/ele-neu.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.bg-intro {
  color: #ffffff;
  background-image: url('../assets/images/bg-intro.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;

  .row {
    padding-top: 142px;
    padding-bottom: 150px;
  }

  .hline {
    width: 300px;
    height: 1px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    position: relative;
  }

}

.layer-intro {
  background-color: $primary-color-translucent;
  /* IE 8 OPACITY */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.bg-intro h1 {
  position:relative;
  top:0;
  padding-top: 15mm;
  //padding-bottom: 26mm;
  font-size: 54px;
  max-width: 700px;
  margin: 0 auto;
  text-transform: uppercase;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  line-height: 66px;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}


/* ANIMATION */
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    top:1000px;
  }

  60% {
    opacity: 1;
    top:-30px;
  }

  80% {
    top:10px;
  }

  100% {
    top:0;
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    top:1000px;
  }

  60% {
    opacity: 1;
    top:-30px;
  }

  80% {
    top:10px;
  }

  100% {
    top:0;
  }
}


@media (max-width:767px) {

  .bg-intro h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .bg-intro .row {
    padding-top: 105px;
    padding-bottom: 65px;
  }
}


/* PORTFOLIO
   ================================================== */
.row-portfolio {
  margin-top: 138px;
  margin-bottom: 138px;
}

.bg-portfolio h1 {
  color: $secondary-color;
  margin: 0 auto;
  padding-top: 100px;
  //padding-bottom: 50px;
  text-transform: uppercase;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 54px;
  line-height: 32px;
  position:relative;

}

.wrapper-portfolio {
  border-radius:10px;
  margin: 0 auto;
  position: relative;
  display: block;
  background-color: $secondary-color;//rgba(0,0,0,0.08);//#34495E;
  max-width: 320px;
  //opacity: 0.6;
  /*box-shadow*/
  -webkit-box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08);
  -moz-box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08);
  box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08);
  /* background-transition animation */
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.wrapper-portfolio .img-responsive {
  border-radius:10px;
  //opacity: 0.6;
  /*transition*/
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.wrapper-portfolio:hover .img-responsive {
  /* IE 8 OPACITY*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  opacity: 0.2;
}

.wrapper-portfolio:hover {
  background-color: $primary-color;
}

.wrapper-portfolio:hover .category {
  font-size: 35px;
  color: #FFF;
}

.category {
  //visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  color: $secondary-color;//#FFF;
  line-height: 0;
  font-size: 25px;
  /*transition*/
  -webkit-transition: all .2s; //ease-out;
  -moz-transition: all .2s; //ease-out;
  -o-transition: all .2s; //ease-out;
  transition: all .2s; //ease-out;
}


// NEWS
// ============================================= //

.bg-news {
  color: #000;
  background-color: $secondary-color-translucent;
  //height: 30%;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;

  .row {
    padding-top: 10px;
    padding-bottom: 100px;
  }

}

.news-post {
  margin-bottom: 20px;
  background-color: $secondary-color;
  border: 1px solid transparent;
  //border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .05);


}


.news-post-body {
  padding: 15px;

}

.news-post-header {
  padding: 10px 15px;
  background-color: $primary-color-translucent;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, .05);
  //border-top-left-radius: 3px;
  //border-top-right-radius: 3px;

  .panel-title > a {
    color: inherit;
  }

}

.bg-news h1 {
  color: $primary-color;
  margin: 0 auto;
  padding: 100px;
  text-transform: uppercase;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 54px;
  line-height: 32px;
  position:relative;

}


// CONCEPT
// ============================================= //


.bg-concept {
  color: #ffffff;
  background-image: url('../assets/images/bg-tisch.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;

  .row {
    padding-top: 42px;
    padding-bottom: 150px;
  }

  .hline {
    width: 300px;
    height: 1px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    position: relative;
  }

}

.bg-concept h1 {
  color: $primary-color;
  margin: 0 auto;
  //padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 54px;
  line-height: 32px;
  position:relative;
}

.layer-concept {
  background-color: $secondary-color-translucent;
  /* IE 8 OPACITY */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.img-concept {
  border-radius:10px;
  margin: 0 auto;
  position: relative;
  display: block;
  background-color: $secondary-color;//rgba(0,0,0,0.08);//#34495E;
  max-width: 320px;
  //opacity: 0.6;
  /*box-shadow*/
  -webkit-box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08);
  -moz-box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08);
  box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08);
}

.concept-quote {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 3px;
  color: #000//$font-grey;
}


